* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000000;
  --text: #002f34;
  --border: #c6c6c6;
  --blue: #3a77ff;
  --white: #ffffff;
}
.main-cart-div{
  background-color: var(--white);
  max-height:60vh;
  overflow-x: scroll;
}
.cart-div{
  position: fixed;
  bottom: 20px;
  display: flex;
  width: 200px;
}
summary > img{
  border-radius: 50%;
  width: 50px;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.header {
  width: 100%;
  position: fixed;
  background-color: var(--white);
  margin: auto;
  border-bottom: 1px solid var(--border);
  z-index: 111;
}

.first-portion {
  display: flex;
  width: 100%;
  height: 70px;
  gap: 30px;
  align-items: center;
  fill: var(--text);
  overflow-x: hidden;
  max-width: 1300px;
  margin: auto;
  padding: 0px 20px;
}

.first-portion .rounded {
  background-image: linear-gradient(var(--border), var(--white));
}

.property:hover,
.motors:hover {
  color: var(--blue);
  fill: var(--blue);
}

.first-portion .rounded {
  padding: 10px;
  border-radius: 50%;
  width: auto;
}

.first-portion .rounded-image {
  width: 25px;
}

.first-portion .motors,
.first-portion .property {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.first-portion .property {
  margin-right: 20px;
}

.second-portion {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  background-color: var(--white);
  max-width: 1300px;
  padding: 0px 20px;
}

.location {
  display: flex;
  border: 1px solid var(--border);
  min-width: 280px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  height: 45px;
}

.items {
  display: flex;
  border: 1px solid var(--border);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  margin-left: 15px;
  height: 45px;
}

.items img {
  width: 30px;
}

.item img {
  padding-bottom: 10px;
}

.items input {
  width: 100%;
}

.location img {
  width: 25px;
}

input,
select {
  border: none;
  outline: none;
  height: 30px;
  font-size: 1em;
}

.location:hover,
.items:hover {
  border: 1px solid var(--blue);
}

.hover:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.3s;
}

.search-logo {
  height: 45px;
  background-color: var(--text);
  fill: var(--white);
  min-width: 50px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  width: 100%;
}

.sell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 105px;
  height: 50px;
  background-image: url(Images/svg15.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sell img {
  width: 15px;
}

.sell {
  margin-left: 30px;
}

.login a {
  color: var(--text);
  font-size: 1.2em;
  margin-left: 30px;
}

.login a:hover {
  text-decoration: none;
}

.dummy {
  width: 100%;
  height: 150px;
}

.categories-list {
  padding: 0px 20px;
  overflow-x: hidden;
  display: flex;
  gap: 15px;
  max-width: 1300px;
  margin: auto;
}

.categories-list a {
  text-decoration: none;
  color: var(--black);
}

.upper-heading {
  font-size: 1.2em;
  padding: 20px 0px;
  max-width: 1300px;
  margin: auto;
  padding: 20px 20px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 140px;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.item img {
  width: 90px;
}

.categories-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.categories {
  padding: 0px 20px;
  max-width: 1300px;
  margin: auto;
}

.products .product-item {
  min-width: 300px;
  border: 1px solid var(--border);
  fill: var(--black);
  border-radius: 10px;
}

.products {
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.backk {
  background-color: #002f34;
}

.products .product-item img {
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  height: 170px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  padding-top: 10px !important;
  height: 50px;
}

.first-line img {
  width: 20px !important;
}

.product-item div {
  padding: 4px 15px 3px 15px;
}

.info {
  font-size: 0.8em;
  margin-bottom: 10px;
  color: #494949;
}

.main-section {
  max-width: 1300px;
  margin: auto;
}

.main-section .upper {
  padding: 50px 30px 20px 30px;
}

.view {
  color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: var(--blue);
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  background-color: #f7f8f9;
  margin-top: 50px;
}

.app-advs {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #f7f8f9;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}

.app-advs .links-portion {
  width: 30%;
}

.app-advs .text-section {
  width: 30%;
}

.app-advs>img {
  width: 30%;
  min-width: 380px;
  min-height: 200px;
}

.line {
  width: 2px;
  height: 150px;
  background-color: var(--border);
  margin: 0px 10px 0px 10px;
}

.links-portion .images img {
  min-width: 120px;
  width: 120px;
}

.text-section h1 {
  padding-bottom: 30px;
}

.text-section p {
  font-weight: 2em;
  font-size: 1.2em;
}

.links-portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links-portion img {
  margin: 15px 8px 0px 0px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.footer {
  border-top: 1px solid var(--border);
  display: flex;
  color: var(--text);
  background-color: #ebeeef;
  padding: 30px 0px 30px 0px;
}

.footer li {
  list-style-type: none;
  font-size: 0.8em;
  color: #494949;
  padding-top: 5px;
}

.footer li:hover {
  color: var(--text);
  cursor: pointer;
}

.social img {
  width: 25px;
}

.link-portion img {
  width: 80px;
}

.footer-content .part-5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyRight {
  background-color: var(--text);
  padding: 10px;
  color: var(--white);
  text-align: end;
  max-width: 1300px;
  margin: auto;
}

.copyRight a {
  color: var(--white);
  padding-right: 20px;
}

.copyRight a:hover {
  color: #000000;
  text-decoration: none;
}

.cart img {
  width: 25px;
}

.cart {
  position: fixed;
  left: 40px;
  bottom: 40px;
  background-color: #002f34;
  color: var(--white);
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid var(--white);
}

.cart-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  overflow: auto;
}

.cart-item img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

#cart-img {
  height: 30px !important;
  width: 30px !important;

}

#cart-img:active {
  background-color: #494949;
}
@media only screen and (max-width: 1200px) {
  .header {
    padding: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .cart-div img{
    width: 60px;
  }
  .cart {
    padding: 5px 15px;
    font-size: 10px;
    left: 20px;
    bottom: 20px;
  }

  .categories-list,
  .products {
    padding: 0px 0px 0px 20px;
  }

  .footer-content {
    padding: 0px 20px;
  }

  .categories-list {
    overflow-x: scroll;
  }

  .first-portion {
    gap: 15px !important;
  }

  .categories-list::-webkit-scrollbar 
  .cart-container::-webkit-scrollbar 
  {
    display: none;
  }

  .categories {
    padding: 0px;
    overflow-x: scroll;
  }

  .upper-heading {
    padding-left: 20px;
  }

  .categories-items {
    justify-content: center;
    column-gap: 30px;
    flex-direction: row;
    width: auto;
    overflow: scroll;
    width: 1400px;
  }

  .upper {
    padding: 50px 30px 20px 20px !important;
  }

  .first-portion {
    font-size: 0.9em;
    gap: 10px;
  }

  .products .product-item {
    min-width: 200px;
  }

  .products .product-item img {
    width: 199px;
    border-radius: 10px 10px 0px 0px;
    height: 130px;
  }

  .item {
    width: 70px;
    height: 130px;
    margin-bottom: 0px;
  }

  .item img {
    width: 70px;
  }

  .item h4 {
    font-size: 0.7em;
  }

  .logo svg {
    width: 3em;
  }

  .first-portion {
    gap: 30px;
  }

  .text-section {
    display: none;
  }

  .line {
    width: 250px;
    height: 2px;
    margin: 30px 0px 30px 0px;
  }

  .app-advs {
    flex-direction: column;
    height: auto;
  }

  .links-portion .images img {
    width: 80px;
  }

  .links-portion .images {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .links-portion {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100% !important;
    font-size: 1.5em;
  }

  .links-portion img {
    margin: 15px 8px 15px 8px;
  }

  .app-advs>img {
    width: auto;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-content {
    width: 400px;
    gap: 20px;
  }

  .footer-content>div {
    width: 120px;
  }

  .footer-content .part-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .copyRight {
    text-align: center;
  }

  .copyRight a {
    padding-right: 0px;
  }

  .products,
  .categories-list,
  .categories {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .products::-webkit-scrollbar,
  .categories-list::-webkit-scrollbar 
  .cart-container::-webkit-scrollbar 
  .cart-div::-webkit-scrollbar 
  {
    display: none !important;
  }

  .header {
    position: absolute;
  }

  .location {
    display: none;
  }

  .items {
    margin-left: 0px;
    min-width: 300px;
  }
}